/* You can add custom styles here. */

// @import "plugins/numbered";

div.ingredient-list>ul, div.ingredient-list>ul>li>ul {
    text-indent: -20px !important;
    padding-left: 30px !important;
    list-style-type: none !important;
}

h1>a, h1>a:visited, h1>a:active {
    color: inherit !important;
    text-decoration: dotted !important;
}

h2>a, h2>a:visited, h2>a:active {
    color: inherit !important;
    text-decoration: dotted !important;
}

p.serves {
    font-style: italic;
    font-size: small;
    margin-block-start: 4px;
    margin-block-end: 0px;
}

h4 {
  font-weight: bold !important;
  font-style: italic;
}

div.taxonomy {
    font-size: small;
}

p.summary {
    font-size: medium;
}


