/* roboto-regular - latin */
@font-face {
  font-family: 'Book Antiqua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('fonts/bookantiqua.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Book Antiqua Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('fonts/bookantiqua_bold') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Book Antiqua Italic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('fonts/bookantiquaitalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

body {
  font-family: 'Book Antiqua', serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}
